---
const { name, tier, link, image } = Astro.props;

let className = "size-md";
switch (tier) {
    case "headline":
        className = "size-xl";
        break;
    case "gold":
        className = "size-l";
        break;
    case "silver":
    case "organizing-partner":
    case "ecosystem-partner":
        className = "size-md";
        break;
    case "nl-sponsor":
    case "workshop-partner":
    case "livestream":
    case "industry-partner":
        className = "size-s";
        break;
    case "nl-supporter":
    case "ecosystem-supporter":
        className = "size-xs";
        break;
    default:
        className = "size-md";
        break;
}
---

{
    image && (
        <div
            title={name}
            onclick={`window.open('${link}', '_blank', 'noopener, noreferrer')`}
            class={`sponsor ${className}`}
            style={`--image: url(/images/sponsors/${image}`}
        />
    )
}
{
    !image && (
        <span class="markdown"><a
            title={name}
            href={link}
            target="_blank"
            class={`${className}` + " text-lg"}
        >
            {name}
        </a></span>
    )
}
