---
interface Props {
    title: string;
    time: string;
    speaker?: string;
    link?: string;
}

const { title, time, speaker, link } = Astro.props;
---

<li id={link}>
    <div class="time">{time}</div>

    {
        (link && (
            <a href={`/speakers#${link}`}>
                {speaker && <div class="name">{speaker}</div>}
                {title}
            </a>
        )) || (
            <div>
                {speaker && <div class="name">{speaker}</div>}
                {title}
            </div>
        )
    }
</li>

<style>
    a {
        all: unset;
        cursor: pointer;
    }
    li {
        /* Make non-highlighted elements the same style but transparent */
        border: 2px solid transparent;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    li:target {
        /* invert the colour of highlighted elements */
        border: 2px solid var(--color-red-500);
        background-color: var(--color-red-500);
        color: var(--color-neutral-400);
        border-radius: 0.5em;
    }
    li:target + li {
        /* Remove the top border on elements after selected 
           elements so there's no line between them anymore */
        border-top: 0;
    }
</style>
