---
const {
    name,
    image,
    title,
    talkTitle,
    bio,
    linkedin,
    twitter,
    mastodon,
    github,
} = Astro.props;
---

<div class="speaker">
    <div class="space-y-6">
        <img src={`/images/speakers/${image}`} alt="" />
        <div>
            <h4 class="font-light text-lg leading-tight">{name}</h4>
            <h3>{title}</h3>
        </div>
        <div class="speaker-detail markdown">
            {
                bio && (
                    <div>
                        <h3>About</h3>
                        <p>{bio}</p>
                    </div>
                )
            }
            <p>
                {linkedin && <a href={linkedin}>LinkedIn</a>}
                {twitter && <a href={twitter}>X</a>}
                {mastodon && <a href={mastodon}>Mastodon</a>}
                {github && <a href={github}>GitHub</a>}
            </p>
            <div>
                {talkTitle && <h3>The workshop</h3>}<br />
                {
                    talkTitle && (
                        <h2 style="font-style: italic;">{talkTitle}</h2>
                    )
                }<br />
                {
                    (
                        <p>
                            <slot />
                        </p>
                    )
                }
            </div>
        </div>
    </div>
</div>
