---
const {
    name1,
    image1,
    title1,
    bio1,
    linkedin1,
    twitter1,
    mastodon1,
    github1,

    name2,
    image2,
    title2,
    bio2,
    linkedin2,
    twitter2,
    mastodon2,
    github2,

    talkTitle,
} = Astro.props;
---

<div class="workshop">
    <div class="markdown">
        <div>
            <h3>The workshop</h3>
            <h2 style="font-style: italic;">{talkTitle}</h2>
            <br />
            <p>
                <slot />
            </p>
        </div>
    </div>
    <div class="space-y-3">
        <h4>Workshop by</h4>
        <div class="grid cols-2">
            <div class="speaker">
                <img src={`/images/speakers/${image1}`} alt={name1} />
                <div class="space-y-6">
                    <div>
                        <h4 class="font-light text-lg leading-tight">{name1}</h4>
                        <h3>{title1}</h3>
                    </div>
                    {
                        bio1 && (
                            <p>{bio1}</p>
                        )
                    }
                    <div class="socials">
                        {linkedin1 && <a href={linkedin1}>LinkedIn</a>}
                        {twitter1 && <a href={twitter1}>X</a>}
                        {mastodon1 && <a href={mastodon1}>Mastodon</a>}
                        {github1 && <a href={github1}>GitHub</a>}
                    </div>
                </div>        
            </div>
            <div class="speaker">
                <img src={`/images/speakers/${image2}`} alt={name2} />
                <div class="space-y-6">
                    <div>
                        <h4 class="font-light text-lg leading-tight">{name2}</h4>
                        <h3>{title2}</h3>
                    </div>
                    {
                        bio2 && (
                            <p>{bio2}</p>
                        )
                    }
                    <div class="socials">
                        {linkedin2 && <a href={linkedin2}>LinkedIn</a>}
                        {twitter2 && <a href={twitter2}>X</a>}
                        {mastodon2 && <a href={mastodon2}>Mastodon</a>}
                        {github2 && <a href={github2}>GitHub</a>}
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>